# Python virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/

# Environment variables / secrets
.env

# Coverage
.coverage
htmlcov/
.pytest_cache/

# IDE
.vscode/

# OS files
.DS_Store
Thumbs.db